<div   class="col-md-10">

            {% for db in final_data %}
               
                {% if db.cpu_usage %}   
                    <div class="container">
                      <div data-toggle="tooltip" title="{{db.date_time}}">
                        <i class="glyphicon glyphicon-ok-sign green-icon" style="font-size:60px;"></i>
                     </div> 

                    </div>
                                                      
                {% else %}  
                    <div class="container">
                      <a href="#" data-toggle="tooltip" title="{{db.date_time}}">
                        <i class="glyphicon glyphicon-remove-circle " style="font-size:60px;"></a>
                    </div>
                {% endif %}   
                {{db.ip_id}}                  
            {% endfor  %}
      
        </div>
