<table  class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">IP Address</th>
            <th scope="col">Ram Usage</th>
            <th scope="col">Cpu Usage</th>
            <th scope="col">Status</th>
            <th scope="col">date_time</th>
            <th scope="col">mac</th>
          </tr>
        </thead>
      
        <tbody>
          {% for db in final_data  %}
            <tr>
              <td>{{db.ip_id}}  </td>
              <td>{{db.ram_usage}}%  </td>
              <td>{{db.cpu_usage}}% </td>
              <td>{{db.status}} </td>
              <td>{{db.date_time}} </td>
              <td>{{db.mac}} </td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
